@font-face {
    font-family: "Aboreto";
    src: url("/fonts/Aboreto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Aboreto;
}

body{
    background-color: rgb(32, 32, 32);
}
.navbar {
    background-color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
}
.navbar a{
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fog *{
    margin: 0.5rem;
}
.fog button, a{
    text-decoration: none;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.4rem;
    cursor: pointer;
}
#addfog{
    position: relative;
    z-index: 10;
}
#newfogname{
    color: black;
    padding: 0.3rem;
}
.fog input[type=checkbox] {
    /* font-size: 2rem; */
    width: 2rem;
    height: 2rem;

}

