@font-face {
    font-family: "Aboreto";
    src: url("/fonts/Aboreto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}
.editor-window{
    position: relative;
    width: 100vw;
    height: calc(100vh - 2rem);
}
.editor-window *{
    /* position: absolute; */
}
.editor-window img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    /* padding: 0.5rem; */
    color: white;
    font-family: Aboreto;
    height: 2rem;
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: white;
}




.center{
    /* display: flex;
    justify-content: center; */
}
.wide{
    width: 100vw;
}
.tall{
    height: calc(100vh - 2rem);
}

.editor-container{
    z-index: 10;
}
.konvajs-content canvas{
    /* position: fixed;
    z-index: 10;
    top: 0;
    left: 0; */
}