body{
    background-color: rgb(35, 35, 35);
    margin: 0;
    padding: 0;
    /* background-image: url(../icons/flowers.jpeg); */
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@font-face {
    font-family: "Aboreto";
    src: url("../../../fonts/Aboreto-Regular.ttf");
}

.selected-btn{
    outline: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.scene{
    margin: auto;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Aboreto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.435);
    color: white;
    padding-inline: 10%;
    padding-block: 0.3rem;
    font-size: 1.5rem;
}
.banner img{
    cursor: pointer;
}
input[type="file"]{
    display: none;
}
.upload-button, button, input{
    font-family: Aboreto;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
}
input{
    cursor: text;
}
.control-banner{
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.3rem;
}

@media only screen and (max-width: 600px) {
    .control-banner {
        flex-wrap: wrap;
    }
  }