@font-face {
    font-family: "Aboreto";
    src: url("../fonts/Aboreto-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    cursor: none;
}

#ip-overlay {
    font-family: Aboreto;
    font-size: 5rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.wide{
    width: 100vw;
}
.tall{
    height: 100vh;
}
#konvacontainer{
    position: fixed;
    top: 0;
    left: 0;
}

#loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
}